body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.nav-link{
    color: black;
}

h1{
    color:#e56b6f;
}

h3{
    color:#9e2a2b;
}

button{
    border: none;
    border-radius: 5px;
    padding: 7px;
    background-color: #db9496;
    color: white;
}